<p id="notice"><%= notice %></p>

<p>
  <b>Field3:</b>
  <%= @entity2.field3 %>
</p>

<p>
  <b>Field4:</b>
  <%= @entity2.field4 %>
</p>

<p>
  <b>Field5:</b>
  <%= @entity2.field5 %>
</p>


<%= link_to 'Edit', edit_entity2_path(@entity2) %> |
<%= link_to 'Back', entity2s_path %>
