<%= form_for(@entity1, :remote => true) do |f| %>
  <% if @entity1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity1.errors.count, "error") %> prohibited this entity1 from being saved:</h2>

      <ul>
      <% @entity1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :field1 %><br />
    <%= f.text_field :field1 %>
  </div>
  <div class="field">
    <%= f.label :field2 %><br />
    <%= f.text_field :field2 %>
  </div>
  <div class="field">
    <%= f.label :field3 %><br />
    <%= f.text_field :field3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
