<p id="notice"><%= notice %></p>

<p>
  <b>Field1:</b>
  <%= @entity1.field1 %>
</p>

<p>
  <b>Field2:</b>
  <%= @entity1.field2 %>
</p>

<p>
  <b>Field3:</b>
  <%= @entity1.field3 %>
</p>


<%= link_to 'Edit', edit_entity1_path(@entity1) %> |
<%= link_to 'Back', entity1s_path %>
