<p id="notice"><%= notice %></p>

<p>
  <b>Field5:</b>
  <%= @entity3.field5 %>
</p>

<p>
  <b>Field6:</b>
  <%= @entity3.field6 %>
</p>

<p>
  <b>Field7:</b>
  <%= @entity3.field7 %>
</p>


<%= link_to 'Edit', edit_entity3_path(@entity3) %> |
<%= link_to 'Back', entity3s_path %>
